:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: 0.3s ease-in-out;

  .navigation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 24px;
    grid-template-areas:
      "nav-header "
      "nav-list "
      "nav-footer ";
    height: 100%;
    transition: 0.3s ease-in-out;

    &__header,
    &__footer,
    &__list {
      width: 100%;
      height: 48px;
      display: flex;
      flex-direction: column;
      transition: 0.3s ease-in-out;
      position: relative;
    }

    &__header {
      grid-area: nav-header;
      justify-content: center;
    }

    &__footer {
      grid-area: nav-footer;
      justify-content: center;
    }

    &__list {
      grid-area: nav-list;
      height: auto;
      width: auto;
      gap: 24px;

      border-radius: 24px;
      box-shadow: inset 15px 15px 30px #bebebe, inset -15px -15px 30px #ffffff;
      padding: 24px;
    }

    &__item,
    &__item-resume,
    &__item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      min-height: 32px;
      padding: 0 16px 0 12px;
      gap: 8px;
      border: 4px solid rgb(224, 224, 224);
      transition: 0.3s ease-in-out;
      border-radius: 1000px;
      box-shadow: 7px 7px 14px #00000033, -7px -7px 14px #ffffff88;
      background: rgba(40, 40, 40, 0.1);
      color: black;
      cursor: pointer;

      &:hover {
        box-shadow: 2px 2px 4px #00000088, -2px -2px 4px #ffffffcc;
        background: rgba(255, 80, 50, 0.1);
      }

      .icon {
        &.circle {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: black;
        }
        &.active {
          background-color: rgb(255, 80, 50);
        }
      }

      &-resume {
        font-weight: 600;
        background-color: rgb(255, 100, 73);
        height: 40px;
        padding: 0 16px 0 20px;

        &:hover {
          background: white;
        }
      }

      &-header {
        background: none;
        justify-content: center;
        height: 40px;
        cursor: default;
        &:hover {
          box-shadow: 7px 7px 14px #00000033, -7px -7px 14px #ffffff88;
          background: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  :host {
    gap: 16px;
    width: 100%;
    min-width: 200px;

    .navigation {
      &__list {
        box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
        padding: 16px;
        gap: 16px;
      }

      &__item,
      &__item-resume {
        box-shadow: 4px 4px 8px #00000033, -4px -4px 8px #ffffff88;

        &:hover {
          box-shadow: 2px 2px 4px #00000033, -2px -2px 4px #ffffff88;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  :host {
    padding: 0 16px;
    gap: 0px;
    width: auto;

    .navigation {
      display: flex;
      align-items: center;
      gap: 16px;
      //padding: 0 16px;

      &__list {
        display: flex;
        flex-direction: row;
        gap: 12px;
        border-radius: 0px;
        box-shadow: none;
        padding: 8px;
        width: auto;

        &__header {
          display: flex;
          padding: 0 16px;
          align-items: center;
          justify-content: space-between;
          margin: 0 0 16px;
        }
      }

      &__item,
      &__item-resume,
      &__item-header {
        width: 100%;
        display: flex;
        height: 32px;
        padding: 0 8px 0 10px;
        align-items: center;
        gap: 8px;
        justify-content: flex-start;
        border: 4px solid rgb(224, 224, 224);
        transition: 0.3s ease-in-out;
        border-radius: 1000px;

        color: black;
        cursor: pointer;
        font-size: 12px;
      }
    }
  }
}
